<div id="hwmenu">
  <div class="hamburger">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <div class="menu-inner">
    <ul>
	  <li><img src="/img/hwan_yellow.png" width="200" height="200" alt="Hwantage world"></li>
      <li><a href="/">HOME</a></li>
	  <li><a href="/about/">ABOUT ME</a></li>
      <li><a href="/posts/">BLOG POSTS</li>
      <li><a href="/categories/">CATEGORIES</li>
      <li><a href="/tags">TAGS</li>
	  <li><a href="/search">SEARCH</li>
	  <li class="terminal"><a href="#" onclick="loadTerminal()"><b>TERMINAL MODE</b></a></li>
	  <li><a href="#" onclick="toggleTheme()">CHANGE THEME</a></li>
      <li><span class="git-icon">{{ partial "utils/icon" "github-black" }}</span><a href="https://github.com/hwantage">GITHUB</a></li>
    </ul>
  </div>

  <svg version="1.1" id="blob" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <path id="blob-path" d="M60,500H0V0h60c0,0,20,172,20,250S60,900,60,500z" />
  </svg>
</div>
{{ $cssCopy := resources.Get "css/hwmenu.css" | minify}}
<link rel="stylesheet" href="{{ $cssCopy.RelPermalink }}?{{ now.Unix }}">
{{ $jsCopy := resources.Get "js/hwmenu.js" | minify}}
<script type="text/javascript" src="{{ $jsCopy.RelPermalink }}?{{ now.Unix }}"></script>