<!--https://www.svgrepo.com/svg/82541/command-window?edit=true-->
<style>
  .clickme { animation: pulse 1.5s 1s infinite;} 
  @keyframes pulse { 
    0% {transform: scale(1);} 
    20% {transform: scale(1.1); } 
    50% {transform: scale(.9);} 
    80% {transform: scale(1);} 
    100% {transform: scale(1);} 
  }
</style>
<button aria-label="Terminal mode" title="Terminal mode" onclick="loadTerminal()">
  <span class="theme-icon2 light clickme" style="display:none"> {{ partial "utils/icon" "cmd_dark" }} </span>
  <span class="theme-icon2 dark clickme" style="display:none"> {{ partial "utils/icon" "cmd" }} </span>
</button>
<button class="toggle-theme" aria-label="Toggle Theme" title="Toggle Theme" onclick="toggleTheme()">
  <span class="theme-icon light" style="display:none"> {{ partial "utils/icon" "sun" }} </span>
  <span class="theme-icon dark" style="display:none"> {{ partial "utils/icon" "moon" }} </span>
</button>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const theme = localStorage.getItem("theme");

    if (!theme || theme === "light") {
      setTheme("light");
    } else {
      setTheme(theme);
    }
  });

  function setTheme(theme) {
    const html = document.querySelector("html");
    localStorage.setItem("theme", theme);

    if (theme === "light") {
      if (html.classList.contains("dark")) {
        document.querySelector("html").classList.remove("dark");
      }

      document.querySelector(".theme-icon.light").style.display = "none";
      document.querySelector(".theme-icon.dark").style.display = "block";
      document.querySelector(".theme-icon2.light").style.display = "none";
      document.querySelector(".theme-icon2.dark").style.display = "block";
    } else {
      if (!html.classList.contains("dark")) {
        document.querySelector("html").classList.add("dark");
      }

      document.querySelector(".theme-icon.dark").style.display = "none";
      document.querySelector(".theme-icon.light").style.display = "block";
      document.querySelector(".theme-icon2.dark").style.display = "none";
      document.querySelector(".theme-icon2.light").style.display = "block";
    }
  }

  function toggleTheme() {
    const theme = localStorage.getItem("theme");

    if (theme === "light") {
      setTheme("dark");
    } else {
      setTheme("light");
    }
  }
</script>
{{ $cssCopy := resources.Get "css/xterm.css" | minify}}
<link rel="stylesheet" href="{{ $cssCopy.RelPermalink }}?{{ now.Unix }}" />
{{ $jsCopy2 := resources.Get "js/hwterminal.js"}}
<script type="text/javascript" src="{{ $jsCopy2.RelPermalink }}?{{ now.Unix }}"></script>
